$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;
$right-spacing: 10vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

body {
  width: 100vw;
  max-width: 100%;
  background: black;
}

.section-container {
  height: 100vh;
  width: 100%;
  padding-left: calc(60px + 4vw);
  padding-right: $right-spacing;
}

h1 {
  font-family: $playfair;
  color: white;
  font-weight: 700;
  font-size: 5em;
  font-style: normal;
  margin-bottom: 0.1em;
}

h2 {
  font-family: $playfair;
  color: white;
  font-weight: 700;
  font-size: 2.2em;
  font-style: normal;
  margin-bottom: 0.1em;
  display: block;
}

p {
  font-family: $poppins;
  font-weight: 300;
  color: white;
  line-height: 200%;
}

#home {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
  'quote img'
  'txt img';
  padding-top: 10vh;
  padding-bottom: 10vh;
  #home-quote {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 5vh;
    align-self: flex-end;
    .home-latin {
      display: flex;
      align-items: center;
      .line {
        flex: 1 1 0;
        height: 1px;
        background: white;
        margin-left: 2vw;
        max-width: 15vw;
      }
    }
    p {
      font-style: italic;
      margin-left: 2vw;
    }
  }
  #home-img {
    grid-area: img;
    object-fit: cover;
    height: 85%;
    width: auto;
    max-width: 100%;
    align-self: flex-end;
    justify-self: flex-start;
  }
  #home-txt {
    grid-area: txt;
    align-self: flex-end;
    justify-self: flex-end;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: -2vw;
    .home-name {
      white-space: nowrap;
    }
    .home-para {
      margin-left: 2vw;
      position: relative;
      overflow: visible;
      &::after {
        content: '';
        position: absolute;
        top: 2vh;
        left: -5vw;
        height: 30vh;
        width: 1px;
        background: white;
      }
    }
  }
}