$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;
$right-spacing: 10vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  background: black;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: margin 0.7s cubic-bezier(.39,1.07,.6,.97);

  &:hover {
    .nav-main {
      background: rgba(0,0,0,0.9);
      width: 15vw;
      min-width: 200px;
      #menu {
        .menu-item {
          span {
            max-width: 80px;
          }
        }
      }
    }
    .nav-hover {
      &:after {
        left: -1px;
        width: 0;
        opacity: 0;
      }
    }
  }

  &.up {
    margin-top: -30vh;
  }
}

.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: calc(60px + 2vw);
  min-width: calc(60px + 2vw);
  position: relative;
  transition: width 0.2s ease-out, min-width 0.2s ease-out;

  &::after {
    content: '';
    position: absolute;
    top: 2vh;
    right: 0;
    height: 96vh;
    width: 1px;
    background: grey;
  }
}

.nav-hover {
  padding-left: 5px;
  height: 100%;
  width: 15px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: 5px;
    height: 30px;
    width: 5px;
    border-left: thin solid grey;
    border-right: thin solid grey;
    transition: width 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out;
  }
}

#menu {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  .menu-item {
    margin: 0 1vw;
    width: 100%;
    font-family: $poppins;
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    letter-spacing: 0.1rem;
    margin: 2.5vh 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
    padding: 10px 0;
    span {
      max-width: 0;
      overflow: hidden;
      transition: max-width 0.2s ease-out;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 0;
      border-bottom: thin solid grey;
      transition: width 0.2s ease-out;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 2vw;
      margin-top: -2vh;
      height: 2vh;
      width: 1px;
      background: white;
    }
    &:hover::after {
      animation: menu-hover 0.6s linear infinite;
    }
    &.active::before {
      width: 1vw;
    }
    &.active::after {
      animation: none;
    }
  }
  #menu-home {
    margin-top: 5vh;
    margin-bottom: 0;
    overflow: visible;
    img {
      width: 40px;
      height: auto;
      object-fit: contain;
    }
    &::before {
      top: -5vh;
      left: 0;
      height: 0;
      width: 50%;
      border-bottom: none;
      border-right: thin solid grey;
      transition: height 0.2s ease-out;
    }
    &::after {
      content: none;
    }
    &.active::before {
      height: 3vh;
    }
  }
  .nav-space {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.nav-socials {
  width: 100%;
  padding: 0 1vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  a {
    color: white;
    width: 100%;
    height: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 2vw;
      margin-top: -2vh;
      height: 2vh;
      width: 1px;
      background: white;
    }
    &:hover::after {
      animation: menu-hover 0.6s linear infinite;
    }
  }
  a:last-child {
    margin-bottom: 0;
  }
}

.section-container {
  height: 100vh;
  width: 100%;
  padding-left: calc(60px + 2vw);
  padding-right: $right-spacing;
}

h1 {
  font-family: $playfair;
  color: white;
  font-weight: 700;
  font-size: 4em;
  font-style: normal;
  margin-bottom: 0.1em;
}

h2 {
  font-family: $playfair;
  color: white;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  margin-bottom: 0.1em;
  display: block;
}

p {
  font-family: $poppins;
  font-weight: 300;
  color: white;
  line-height: 200%;
  font-size: 0.8em;
}

#home-suppress.home-section.active > * > #home,
#home {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
  'quote img'
  'txt img';
  padding-top: 10vh;
  padding-bottom: 10vh;

  // REMEMBER TO REMOVE THIS
  padding-left: calc(60px + 2vw + 10vw);

  &::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    right: 11vw;
    height: 50vh;
    width: 1px;
    background: white;
    transition: height 2.2s ease-out;
  }
  &::after {
    z-index: 2;
    content: '';
    position: absolute;
    bottom: 12vh;
    right: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 1.8s ease-out;
  }
  #home-quote {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 10vh;
    .home-latin {
      display: flex;
      align-items: center;
      .line {
        flex: 1 1 0;
        height: 1px;
        background: white;
        margin-left: 2vw;
        max-width: 0;
        transition: max-width 3s ease-out;
      }
    }
    p {
      font-style: italic;
      margin-left: 2vw;
    }
  }
  #home-img {
    grid-area: img;
    object-fit: cover;
    height: 70%;
    width: 60%;
    min-width: 300px;
    align-self: flex-end;
    justify-self: flex-start;
    position: relative;
  }
  #home-txt {
    grid-area: txt;
    align-self: flex-end;
    justify-self: flex-end;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    margin-bottom: 5vh;
    .home-name {
      white-space: nowrap;
    }
    .home-para {
      margin-left: 5vw;
      position: relative;
      overflow: visible;
      &::after {
        content: '';
        position: absolute;
        top: 10vh;
        height: 40vh;
        left: -5vw;
        width: 1px;
        background: white;
        transition: top 4s ease-out, height 4s ease-out;
      }
    }
  }
}

.home-section.active {
  & > * > #home {
    &::before {
      height: 30vh;
    }
    &::after {
      width: 18vw;
    }
    #home-quote > .home-latin > .line {
      max-width: 15vw;
    }
    #home-txt > .home-para::after {
      top: 2vh;
      height: 30vh;
    }
  }
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: $poppins;
  padding-left: calc(60px + 2vw + 10vw);
  .coming-soon {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 600;
  }
}

[data-anchor="section-5"].active ~ [data-anchor="section-6"] {
  & > * > #cv {
    a {
      &::before {
        right: 10px;
        opacity: 0;
        transition: right 0.2s ease-out, opacity 0.2s ease-out;
      }
      &::after {
        width: 0;
        opacity: 1;
        transition: width 0.6s ease-out 0.2s, opacity 0.2s ease-out;
      }
      img {
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}

#cv {
  // justify-content: flex-end;
  padding-left: calc(60px + 2vw + 10vw);
  a {
    position: relative;
    display: block;
    &::before {
      content: 'Please get in touch for full CV';
      position: absolute;
      top: 0;
      transform: rotate(90deg) translateX(100%);
      color: grey;
      font-weight: 300;
      transform-origin: 102% 102%;
      font-size: 0.8em;


      right: 0;
      opacity: 1;
      transition: right 0.2s ease-out 1.4s, opacity 0.2s ease-out 1.4s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: grey;

      width: 100%;
      opacity: 0;
      transition: width 0.6s ease-out 0.2s, opacity 0.4s ease-out 0.9s;
    }
    img {
      height: 90vh;
      object-fit: cover;
      filter: blur(10px);

      opacity: 1;
      transition: opacity 0.1s ease-out 0.9s;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-sep {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vh 0 4vh 0;
    #footer-logo {
      height: 25px;
      width: auto;
      object-fit: contain;
      padding: 4px;
      margin: 0 1.5vw;
      cursor: pointer;
    }
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 20vw;
      background: grey;
    }
  }
  .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding-bottom: 6vh;
    .footer-item {
      width: 10vw;
      margin: 0 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 0.8em;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
      }
      a, p {
        font-weight: 300;
        font-size: 0.6em;
        margin: 0.3rem 0;
      }
      h3, a, p {
        color: white;
        cursor: pointer;
        font-family: $poppins;
        text-align: center;
        width: 100%;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 50%;
          height: 2px;
          width: 2px;
          border-radius: 50%;
          background: white;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes menu-hover {
  0% {margin-top: -2vh;}
  100% {margin-top: 6vh;}
}