* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  background: black;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav:hover .nav-main {
  background: rgba(0, 0, 0, 0.9);
  width: 15vw;
  min-width: 200px;
}

nav:hover .nav-main #menu .menu-item span {
  max-width: 80px;
}

nav:hover .nav-hover:after {
  left: -1px;
  width: 0;
  opacity: 0;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(60px + 2vw);
  min-width: calc(60px + 2vw);
  position: relative;
  -webkit-transition: width 0.2s ease-out, min-width 0.2s ease-out;
  transition: width 0.2s ease-out, min-width 0.2s ease-out;
}

.nav-main::after {
  content: '';
  position: absolute;
  top: 2vh;
  right: 0;
  height: 96vh;
  width: 1px;
  background: white;
}

.nav-hover {
  padding-left: 5px;
  height: 100%;
  width: 15px;
  position: relative;
}

.nav-hover::after {
  content: '';
  position: absolute;
  top: calc(50% - 15px);
  left: 5px;
  height: 30px;
  width: 5px;
  border-left: thin solid white;
  border-right: thin solid white;
  -webkit-transition: width 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out;
  transition: width 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out;
}

#menu {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu .menu-item {
  margin: 0 1vw;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: 2.5vh 0;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  padding: 10px 0;
}

#menu .menu-item span {
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width 0.2s ease-out;
  transition: max-width 0.2s ease-out;
}

#menu .menu-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 0;
  border-bottom: thin solid white;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

#menu .menu-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2vw;
  margin-top: -2vh;
  height: 2vh;
  width: 1px;
  background: white;
}

#menu .menu-item:hover::after {
  -webkit-animation: menu-hover 0.6s linear infinite;
          animation: menu-hover 0.6s linear infinite;
}

#menu .menu-item.active::before {
  width: 1vw;
}

#menu .menu-item.active::after {
  -webkit-animation: none;
          animation: none;
}

#menu #menu-home {
  margin-top: 5vh;
  margin-bottom: 0;
  overflow: visible;
}

#menu #menu-home img {
  width: 40px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#menu #menu-home::before {
  top: -5vh;
  left: 0;
  height: 0;
  width: 50%;
  border-bottom: none;
  border-right: thin solid white;
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

#menu #menu-home::after {
  content: none;
}

#menu #menu-home.active::before {
  height: 3vh;
}

#menu .nav-space {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-socials {
  width: 100%;
  padding: 0 1vw;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-socials a {
  color: white;
  width: 100%;
  height: 30px;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1vh 0;
  position: relative;
  overflow: hidden;
}

.nav-socials a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2vw;
  margin-top: -2vh;
  height: 2vh;
  width: 1px;
  background: white;
}

.nav-socials a:hover::after {
  -webkit-animation: menu-hover 0.6s linear infinite;
          animation: menu-hover 0.6s linear infinite;
}

.nav-socials a:last-child {
  margin-bottom: 0;
}

.section-container {
  height: 100vh;
  width: 100%;
  padding-left: calc(60px + 2vw);
  padding-right: 10vw;
}

h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 700;
  font-size: 5em;
  font-style: normal;
  margin-bottom: 0.1em;
}

h2 {
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 700;
  font-size: 2.2em;
  font-style: normal;
  margin-bottom: 0.1em;
  display: block;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  line-height: 200%;
  font-size: 0.8em;
}

#home {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
      grid-template-areas: 'quote img' 'txt img';
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: calc(60px + 2vw);
}

#home::before {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  right: 11vw;
  height: 50vh;
  width: 1px;
  background: white;
  -webkit-transition: height 2s ease-out;
  transition: height 2s ease-out;
}

#home::after {
  z-index: 2;
  content: '';
  position: absolute;
  bottom: 12vh;
  right: 0;
  width: 0;
  height: 1px;
  background: white;
  -webkit-transition: width 2s ease-out;
  transition: width 2s ease-out;
}

#home #home-quote {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: quote;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7vw;
  margin-bottom: 10vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#home #home-quote .home-latin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #home-quote .home-latin .line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 1px;
  background: white;
  margin-left: 2vw;
  max-width: 0;
  -webkit-transition: max-width 2.5s ease-out;
  transition: max-width 2.5s ease-out;
}

#home #home-quote p {
  font-style: italic;
  margin-left: 2vw;
}

#home #home-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
  width: 100%;
  max-width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
}

#home #home-txt {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: txt;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: -2vw;
  margin-bottom: 5vh;
}

#home #home-txt .home-name {
  white-space: nowrap;
}

#home #home-txt .home-para {
  margin-left: 5vw;
  position: relative;
  overflow: visible;
}

#home #home-txt .home-para::after {
  content: '';
  position: absolute;
  top: 10vh;
  height: 40vh;
  left: -5vw;
  width: 1px;
  background: white;
  -webkit-transition: top 1.5s ease-out, height 1.5s ease-out;
  transition: top 1.5s ease-out, height 1.5s ease-out;
}

[data-anchor="section-1"].active > * > #home::before {
  height: 30vh;
}

[data-anchor="section-1"].active > * > #home::after {
  width: 15vw;
}

[data-anchor="section-1"].active > * > #home #home-quote > .home-latin > .line {
  max-width: 15vw;
}

[data-anchor="section-1"].active > * > #home #home-txt > .home-para::after {
  top: 2vh;
  height: 30vh;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 10vw;
}

.section-container .coming-soon {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
}

@-webkit-keyframes menu-hover {
  0% {
    margin-top: -2vh;
  }
  100% {
    margin-top: 6vh;
  }
}

@keyframes menu-hover {
  0% {
    margin-top: -2vh;
  }
  100% {
    margin-top: 6vh;
  }
}
